<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook Form</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" href="images/favicon.png">
</head>
<body>
    <form id="guest-form">
        <legend><h1>Contact Form</h1></legend>
        <div class="first-section-container">
            <div>
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="fname">
                <span id="err-fname" class="error">First name cannot be empty!</span>
            </div>
            
            
            <div>
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lname">
                <span id="err-lname" class="error">Lirst name cannot be empty!</span>
            </div>
            
            <div>
                <label for="jobT">Job Title</label>
                <input type="text" id="jobT">
            </div>

            
            <div>
                <label for="Company">Company</label>
                <input type="text" id="Company">
            </div>
            

            <div>
                <label for="linkedin">Linkedin URL</label>
                <input type="text" id="linkedin">
                <span id="err-linkedin" class="error">linkedin must contain https://linkedin.com/in/</span>
            </div>
            
            <div>
                <label for="email">Email Address</label>
                <input type="text" id="email">
                <span id="err-email" class="error">Email must include an '@' and a '.'</span>
                <span id="err-email2" class="error">Must include email</span>
            </div>
            
        </div>
        <div class="second-section">
            <div class="spacing-middle">
                <div>
                    <label for="met">How did we meet?</label>
                    <br>
                    <select name="met" id="met">
                        <option value="select"> Please select</option>
                        <option value="high-school">high-school</option>
                        <option value="work">work</option>
                        <option value="online">online</option>
                        <option value="other">other</option>
                    </select>
                    <span id="err-met" class="error">How we met is required</span>
            
                    
                </div>
                
                <div id="second-section-right">
                    <label for="other" id="other">Other (please specify)</label>
                    <input type="text" id="other">
                </div>
                
            </div>
            <div class ="middle">
                <label for="Message">Message</label>
                <textarea name="message" id="message"></textarea>
            
            </div>

            <div class="listing">
                <label for="add">
                    <input type="checkbox" name="added" id="added">
                </label>
                <p><b>Please add me to your mailing list</b></p>
            </div>

            <div id="bottom">
                <p><b>Choose and email format:</b></p>
                <label for="choice">
                    <input type="radio" name="choiceFormat" value="html">
                    Html
                </label>
                <label for="choice">
                    <input type="radio" name="choiceFormat"value="text">
                    Text
                </label>
            </div>
            <div class="block">
             <button>Submit</button>
            </div>
    
        </div>
     
       
    </form>
    <script src="js/guest.js"></script>
</body>
</html>