*, *::before, *::after {
  box-sizing: border-box;
}

* {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: rgb(70, 70, 70);
}
select {
  width: 100%;
  box-sizing: border-box;
}
p {
    margin: 0;
}
body{
    background-color: rgb(221, 224, 224);
    
}
h1{
    padding: 10px;
    margin: 0 auto;
}
label{
    font-weight: bold;
}

input[type="radio"] {
  accent-color: grey;
}
.first-section-container input{
    width: 100%;
}

.first-section-container input{
    padding-right: 58px;
}
.spacing-middle{
    display: flex;
    gap: 1rem;       
    justify-content: space-between;
    flex-wrap: wrap;
}
/* first-section */
#other{
    width: 100%;
}
select{
    text-decoration: none;
    border-color: rgb(0, 0, 0);
    box-shadow: none;
    background-color: white;
    border-radius: 3px;
    padding-right: 13rem;
}
legend{
    text-align: center;
}
.first-section-container{
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
    gap: 0.50rem;
    
}
@media (max-width: 1100px) {
  .first-section-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.first-section-container div{
    padding-bottom: 10px;
}
form{
    height: 490px;
    background-color: white;

    margin: 1rem auto;
    width: 90%; 
    max-width: 800px; 

    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
    height: auto;
    padding-bottom: 1rem;
}
/* second-section */
.second-section{
    padding-top: 1rem;
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-direction: column;
}
button{
    border: none;
    color: white;
    background-color: rgb(6, 179, 6);
    padding: 5px 13px;
    border-radius: 3px;
}
/* middle */
.middle{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
#message{
    height: 100px;
}
#second-section-right{
    padding-right: 8px;
}
/* bottom */
#added{
    margin-right: 5px;
}
.listing{
    margin-top: 1rem;
    display: flex;
}
.bottom{
    padding: 10px 0;
    display: flex;
}

/* Js section */
#second-section-right, #bottom{
    display: none;
}
.error{
    color: red;
    display: none;
}